<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <script src="../../dist/mini-vue.js"></script>

  <body>
    <!-- <div v-if="ok.value">v-if</div>
    <div v-else-if="ok.value">v-else-if</div>
    <div v-else>v-else</div>
    <button @click="toggle">toggle</button> -->
    <!-- <input type="text" v-model="input.value" />
    <div>{{input.value}}</div> -->
    <div id="app">
      <div>Hello</div>
    </div>
    <script>
      const { createApp, ref, reactive } = MiniVue;

      createApp({
      }).mount("#app");
    </script>
  </body>
</html>
